@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

mat-card-title, p, mat-chip{
    font-family: 'Abel', sans-serif;
}

mat-card-title{
  font-weight: 700;
}

img {
  width: 50vmin;
  height: 50vmin;
  object-fit: cover;
}

.example-card{
  width: 50vmin;
  margin-bottom: 5vmin;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

.filter-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.filter{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.line{
  margin: 4vmin 0 4vmin 0;
  width: 80%;
  background-color: transparent;
}

.tags{
  display: flex;
}

.price{
  font-size: larger;
  font-weight: 700;
}

.example-chip-list {
  width: 100%;
}

.example-pizza-party {
  color: hotpink;
}

.pagination{
  display: flex;
  justify-content: center;
}

.moreContent{
  width: 70vmin;
  background-color: #ef8282bf;
}

@media screen and (max-width: 480px){
  *{
    font-size: 12px;
  }
  img {
    width: 34vmin;
    height: 34vmin;
    object-fit: cover;
  }
  ::ng-deep.mat-card{
    width: 50%;
  }
  ::ng-deep.mat-card-header{
    font-size: small;
  }
  .card-container{
    display: flex;
    justify-content: center;
  }
  .example-card{
    width: 34vmin;
    margin: 10px;
  }
  
  span{
    font-size: 17px;
  }
  .line{
    height: 1px;
  }
  
}

@media all and (device-width: 768px) and (device-height: 1024px) {
  .container{
    width: fit-content;
    height: fit-content;
  }
  img {
    width: 34vmin;
    height: 34vmin;
    object-fit: cover;
  }

  .example-card{
    width: 34vmin;
    margin: 10px;
  }
}